.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

.env

data/*.sqlite
data/*.sqlite-*
data/raw/*
!data/raw/.gitkeep
!data/raw/inthiswork/
data/raw/inthiswork/*
!data/raw/inthiswork/.gitkeep

data/analysis/*
!data/analysis/.gitkeep
!data/analysis/apply_urls/
data/analysis/apply_urls/*
!data/analysis/apply_urls/.gitkeep
